button {
  background-color: #008cba; /* blue */
  border: none;
  border-radius: 0.4em;
  color: white;
  padding: 0.4em 0.8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

.normalBut:hover {
  background-color: #3566e4; /* blue */
}

.remBut:hover {
  background-color: red; /* red */
}
