.container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

.centered-div {
  text-align: center;
}

legend {
  font-size: 1.4em;
}

input[type="text"] {
  height: 1.8em;
  font-size: 1.1em;
}

input[type="text"]:focus {
  border: solid;
  border-width: 0.2em;
  border-color: #3584e4;
  box-shadow: 0.2em #3584e4;
  transform: scale(1.025);
}

input[type="text"]:invalid {
  border-left: 0.5em solid #ffbeab;
}

input[type="text"]:valid {
  border-left: 0.5em solid #c9fec9;
}

input[type="password"] {
  height: 1.8em;
  font-size: 1.1em;
}

input[type="password"]:focus {
  border: solid;
  border-width: 0.2em;
  border-color: #3584e4;
  box-shadow: 0.2em #3584e4;
  transform: scale(1.025);
}

input[type="password"]:invalid {
  border-left: 0.5em solid #ffbeab;
}

input[type="password"]:valid {
  border-left: 0.5em solid #c9fec9;
}

p {
  font-size: 1.2em;
}
